[Unit]
Description=Docker glue app
Requires=app-queue.service

[Service]
Type=simple
User=automation
WorkingDirectory=/opt/glue
ExecStart=/usr/bin/env python3 -m flask run --host=0.0.0.0 --port=5000
Restart=always

[Install]
WantedBy=multi-user.target
